* {
  font-family: "Courier New";
  overflow: visible;
}

body {
  background: snow;
}

header {
  vertical-align: bottom;
  display: grid;
  grid-template-columns: 8fr 1fr;
  height: auto;
  margin-bottom: 5vw;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

p {
  color: white;
  padding-top: 1vw;
  font-size: 1vw;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

button:disabled {
  opacity: 0.5;
}

h3 {
  color: white;
  padding-bottom: 1vw;
  font-size: 1vw;
}

#main {
  width: 50%;
  margin: auto;
  border: 5vw black;
}

#card {
  padding: 1.5vw;
  margin-bottom: 2vw;
  box-shadow: darkgray 0 1px 10px;
}

#rocket {
  width: 100%;
  height: auto;
  max-width: 100%;
}

#cameras {
  display: flex;
  flex-direction: row;
  height: 2vw;
  margin-top: 1vw;
  margin-bottom: 0.2vw;
}

#rovers {
  display: flex;
  flex-direction: row;
  height: 3vw;
  margin-bottom: 2vw;
  box-shadow: darkgray 0 2px 15px;
}

.camera,
.rover {
  width: 100%;
}

#cameras :nth-child(1) {
  border-top-left-radius: 10px;
}

#cameras :last-child {
  border-top-right-radius: 10px;
}

#errText {
  color: red;
  display: none;
}

.camera {
  height: 100%;
  border: 1px solid snow;
  border-radius: inherit;
}

.likeButton {
  height: 6vh;
  background: none;
}

.curiosity {
  background: #ebeb21;
}

.opportunity {
  background: forestgreen;
}

.spirit {
  background: dodgerblue;
}
